PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5435
DATABASE_USER=measure_health
DATABASE_PASSWORD=local_dev_password
DATABASE_NAME=measure_health
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d
